body {
  background-color: #272757 !important;
}

.section-gradient-bottom {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-image: linear-gradient(to bottom , #272757, #5555BD) !important;
}

.section-gradient-top {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-image: linear-gradient(to top , #272757, #5555BD) !important;
}

.new-card-style {
  border-radius: 10px !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
  border: none !important;
  text-align: center;
}

.no-hover-card {
  border-radius: 10px !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: none !important;
  border: none !important;
}

.no-hover-no-shadow-card {
  border-radius: 10px !important;
  box-shadow: none !important;
  transition: none !important;
  border: none !important;
}

.new-card-style:hover {
  transform: translateY(-5px);
}

.bg-dark-blue {
  background-color: #272757 !important;
  color: white !important;
}
.bg-light-blue {
  background-color: #5555BD !important;
  color: white !important;
}

.text-dark-blue {
  color: #272757 !important;
}

.text-light-blue {
  color: #5555BD !important;
}

.no-bullet {
  list-style-type: none !important;
  margin-left: 0 !important;
  padding-left: 0 !important;
}

input {
  background-color: white !important;
  border-radius: 16px !important;
  border: none !important;
  width: 100% !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
}

a {
  text-decoration: none !important;
}

.box-shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
}

.box-shadow-white {
  box-shadow: 0 2px 12px rgba(255, 255, 255, 0.4) !important;
}


.back-arrow {
  font-size: 30px;
  padding-left: 8px;
}
