.albums {
  width: 100%;
  min-height: 350px;
  background-color: #FFF9ED;
  border: 2px solid #763117;
  border-radius: 8px;

  margin-top: 32px;
  h3 {
  margin-top: 16px;
  margin-left: 16px;
  color: #763117;
  margin-bottom: 16px;
  font-size: 32px;
  }
}

.album-content {
  width: 800px;
  img {
    width: 800px;
    height: 700px;
  }
  h1 {
    color: #763117 ;
    margin-bottom: 16px;
  }
}

.album-result {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 24px;

}



.inspiration-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

}

.youralbums {
  width: 80%;
  height: 100%;
  color: #763117;
  h5 {
    padding-bottom: 16px;
  }
  a {
    color: #763117;
  }
}

.album-div {
  width: 100%;
  background-color: white;
  padding: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 8px;
  border: 2px solid #763117;
  span {
    font-size: larger;

  }
  a {
    text-decoration: none;

  }

}

.albumBody {
  margin-left: 16px;
  width: 100%;
}

.generateAlbums {
  width: 80%;
  height: 100%;
  color: #763117;
  h5 {
    padding-bottom: 16px;
  }
}

#generate-button {
  background-color: #EB6937;
  color:#FFF9ED;
}
