.band-details {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  width: 400px;
}

.band-info {
  display: flex;
  margin-right: 1rem;
}

.band-name {
  font-weight: 700;
  font-size: 48px;
}
