.body-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.left-side-container {
  width: 65%;
  height: 100%;
  padding: 0 24px;
}

.band-card-img {
  width: 120px;
  border-radius: 8px 0 0 8px;
  object-fit: cover;
}

.band-card {
  display: flex;
  margin: 8px;
  background-color: #FFF9ED;
  border-radius: 8px;
  border: 2px solid #96320E;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: #96320E;

}

.height {
  height: 40px;
}

.band-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7px;
  margin-left: 8px;
  margin-right: 8px;
}

.band-card-info {
  padding: 8px;
  width: 100%;
}

.filter-title {
  width: 100%;
  display: flex;
  justify-content: center;
}


.filter-bands {
  display: flex;
  justify-content: center;
}

.right-side-container {
  width: 35%;
  height: 100vh;
  position: sticky;
  top: 0px;
}

.filter-options {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FAD6C7;
  padding: 0 16px 16px 16px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
  border: 2px solid #96320E;
  input {
   background-color: #FFF9ED;
   border-radius: 16px;
   border: none;
   width: 100%;
  }
  label {
    font-size: 20px;
    font-family: "Questrial", sans-serif;
    font-weight: 600;
  }
  .form-title {
    display: flex;
    justify-content: center;
  }
  .submit-button {
    margin-top: 16px;
    background-color: #EB6937;
    color: white;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 8px;
  align-items: center;
}

.checkbox {
    display: flex;
    flex-direction: row;
    label {
      margin-right: 16px;
    }
  }

.form-group label {
  margin-bottom: 4px;
}

.filter-button {
  padding: 5px 8px;
  width: 20% !important;
  height: auto;
  border-radius: 32px !important;
  border: none !important;
}

.filter-bands form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-row {
  display: flex;
  width: 100%;
  padding: 0 5%;
  justify-content: space-between;
  margin-bottom: 32px;
}

.form-title h2 {
  margin: 0;
  position: relative;
  top: -16px;
}
