<%= link_to band_path(@album.band_id) do %>
  <i class="fa-solid fa-arrow-left text-white back-arrow"></i>
<% end %>
<div class="album-result">
  <div class="album-content">
    <h1><%= @album.name %></h1>
    <%= cl_image_tag @album.photo.key, alt: "AI-generated image of an album" if @album.photo.attached? %>
  </div>
</div>
