<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center">
    <h2 class="band-name"><%= @band.name %></h2>
    <button class="contact-button"><i class="fa-solid fa-user"></i><p>Contact Band</p></button>
  </div>
  <div class="band-details">
    <div class="band-info">
      <i class="fa-solid fa-music me-2"></i>
      <p><%= @band.genre %></p>
    </div>
    <div class="band-info">
      <i class="fa-solid fa-calendar me-2"></i>
      <p>Formed <%= @band.created_at.to_date.year %></p>
    </div>
    <div class="band-info">
      <i class="fa-solid fa-location-dot me-2"></i>
      <p><%= @band.address %></p>
    </div>
  </div>
</div>
