.mapboxgl-popup {
  max-width: 240px;
}

.mapboxgl-popup-content {
  text-align: center;
  background-color: #272757;
  color: white;
  border-radius: 8px;
}

.mapboxgl-popup-close-button {
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
