.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom: 2px solid #763117;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 55px;
}

.navbar-container-height {
  height: 64px !important;
  min-height: 64px !important;
  padding: 0 !important;
  margin: 0 !important;
}
