.user-card-img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px 0 0 8px;
}

.submit-button {
  padding: 5px 8px;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.filter-bands {
  display: flex;
  padding: 0;
}

.filter-options {
  display: grid;
  width: 600px;
  align-items: center;
}
