.applications {
  background-color: #FFF9ED;
  border-radius: 8px;
  margin-bottom: 16px;
  width: 330px;
}
.no-applications {
  background-color: #FAD6C7;
}

.my-application {
  padding: 16px;
}

.application-band-title {
  text-decoration: none;
  color: #763117;
}
