.user-card-img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px 0 0 8px;
}

.submit-button {
  padding: 5px 8px;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 32px !important;
  border: none !important;
  background-color: #272757 !important;
  color: white !important;
  font-weight: bold !important;
}

.submit-button:hover {
  background-color: #5555BD !important;
  transition: background-color 0.3s ease !important;
}

.filter-bands {
  display: flex;
  padding: 0;
}

.filter-options {
  display: grid;
  width: 600px;
  align-items: center;
}
