.post-image {
  width: 500px;
  object-fit: cover;
  border-radius: 8px ;
}

.who-post {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 8px;

}

.post-avatar-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 16px;
}

.sharing {
  position: absolute;
  width: 233px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  right: 66px;
  margin-top: 54px;
}

.post-text {
  margin-top:8px ;
  color: #333;
}

.path-link {
  text-decoration: none;
  color: #96320E;
}

#create-button {
  background-color: #EB6937;
  color:#FFF9ED;
  border: none;
  padding: 8px;
  border-radius: 8px;
}

.body-container {
  display: flex;
  flex-direction: center;
  justify-content: center;
}

.posts {
  padding: 24px;
  border-radius: 8px;
  width: 620px;
}

.like-button {
  width: 25px;
  margin-right: 16px;
  color: #333;
  margin-top: 8px;

}

.post {
  margin: 16px;
  padding: 16px;
  border: 1px solid #96320E;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  justify-content: center;
}
.post-content {
  display: flex;
}
